.swiper-slide {
    background-size: cover;
    background-position: center;
}


.mySwiperThumbnail .swiper-slide {
    width: 25%;
    height: 100%;
    filter: brightness(30%);
}

.mySwiperThumbnail .swiper-slide-thumb-active {
    opacity: 1;
    filter: brightness(100%);

}

.swiper-slideThumbnail img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.swiper-no-nav-mobile .swiper-button-next, .swiper-no-nav-mobile .swiper-button-prev {
 display: none;   
}

@media screen and (min-width: 600px) {
    .swiper-no-nav-mobile .swiper-button-next, .swiper-no-nav-mobile .swiper-button-prev {
        display: block;
    }
}
